.contentSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.labelSection {
  padding: 36px 0px 0;
}

.labelText {
  margin: 0;
  text-align: left;
}

.descriptionSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0px;
  text-align: left;
}

.indentSection {
  padding-left: 25px;
}

.noticeExampleSection {
  padding: 0 0px;
}

.noticeExampleImage {
  width: 100%;
  height: auto;
  display: block;
}
