.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}

.headerImage {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}

.contentSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 20px;
}

.buttonSection {
  padding: 0 20px 34px;
}

.buttonSection button {
  width: 100%;
}
